div p {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
}

input {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.line-across {
    text-decoration: line-through;
    color: #000000;
}